---
layout: default
title: Adopt
adopt-dog_image: /images/TSP-4.jpg
cost-dog_image: /images/TSP-2.jpg
info-dog_image: /images/TSP-9.jpg
---

<!-- intro banner -->
<section class="grid-middle bg-featured vh30">
  <h2 class="col-12 center">Meet the pups</h2>
</section>

<!-- dogs grid short -->
<section class="grid-center padded">
  {% assign all-dogs = site.pages | where: 'path', 'all-dogs.html' | first %}
  {% for dog in all-dogs.dogs limit: 4 %}
  
      <div class="col-3 center padded-1">
          <div class="bg-image portrait" style="background-image: url('{{dog._image}}');"></div>
          <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>
          <p>I am {{dog.age}} years old.</p>
      </div>
      
  {% endfor %}
  
</section>

<!-- adoption process banner -->
<section class="bg-dark light-text padded center">
    <h2 class="small-text margin-b-05">Find out more about the </h2>
    <a href="#adoption-process">
      <h2 class="big-text">Adoption Process</h2>
      <i class="fa-solid fa-angle-down"></i>
    </a>
</section>

<!-- dogs grid -->
<section class="grid-center padded">
{% for dog in all-dogs.dogs limit: 8 offset: 4%}

    <div class="col-3 center padded-1 margin-b-2">
        <div class="bg-image portrait" style="background-image: url('{{dog._image}}');"></div>
        <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>
        <p>I am {{dog.age}} years old.</p>
    </div>
    
{% endfor %}

    <div>
      <a href="/all-dogs.html" class="button">See all dogs</a>
    </div>
</section>


<!-- adoption info -->
<section class="grid-middle-spaceBetween padded bg-light" id="adoption-process">
  <!-- how to adopt -->
    <div class="col-7_sm-12-middle padded">
      <h3>How to adopt</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laboriosam iste tempore ipsam officia modi debitis expedita id quaerat, inventore officiis temporibus sequi. Ipsum vel neque tempore iure rerum minima.</p>
      <a href="#" class="button">Reach out to us</a>
    </div>
    <div class="col-5 padded">
      <div class="bg-image square sm-hide" style="background-image: url('{{page.adopt-dog_image}}');"></div>
    </div>

    <!-- more info -->
    <div class="col-5 padded">
      <div class="bg-image square sm-hide" style="background-image: url('{{page.info-dog_image}}');"></div>
    </div>
    <div class="col-7_sm-12-middle padded">
      <h3>Get more information about specific dogs</h3>
      <p>Unfortunately we do not have the time and resources to describe every single one of our 160+ dogs online. </p>
      <p>If you are interested in one of the pups or are looking for more information please don’t hesitate to reach out directly to us! We will provide you with all information you need to find your new best friend.</p>
      <a href="/contact.html" class="button">I need more information</a>
    </div>
    
  
    <!-- whats the cost -->
    <div class="col-7_sm-12-middle padded">
        <h3>What's the cost?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laboriosam iste tempore ipsam officia modi debitis expedita id quaerat, inventore officiis temporibus sequi. Ipsum vel neque tempore iure rerum minima.</p>
    </div>
    <div class="col-5 padded">
      <div class="bg-image square sm-hide" style="background-image: url('{{page.cost-dog_image}}');"></div>
    </div>
</section>