---
layout: default
title: Adopt
adopt-dog_image: /images/TSP-4.jpg
cost-dog_image: /images/TSP-2.jpg
info-dog_image: /images/TSP-9.jpg
seo:
  title:
  description:
  social_image: /images/logo.png
  twitter_card:
  keywords:
  hide-from-google: false
---

<!-- intro banner -->
<section class="grid-middle bg-featured vh30">
  <h2 class="col-12 center">Find your new best friend here</h2>
</section>

<!-- dogs grid short desktop-->
<section class="grid-center padded md-hide">
  {% assign all-dogs = site.pages | where: 'path', 'all-dogs.html' | first %}
  {% for dog in all-dogs.dogs limit: 4 %}
  
      <div class="col-3 center padded-1">
          <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
          <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>
          <p>I am {{dog.age}} years old.</p>
      </div>
      
  {% endfor %}
  
</section>

<!-- dogs grid short medium-->
<section class="grid-center padded md-show">
  {% assign all-dogs = site.pages | where: 'path', 'all-dogs.html' | first %}
  {% for dog in all-dogs.dogs limit: 3 %}
  
      <div class="col-4 center padded-1">
          <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
          <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>
          <p>I am {{dog.age}} years old.</p>
      </div>
      
  {% endfor %}
  
</section>

<!-- adoption process banner -->
<section class="bg-dark light-text padded center">
    <h2 class="small-text margin-b-05">Find out more about the </h2>
    <a href="#adoption-process">
      <h2 class="big-text">Adoption Process</h2>
      <i class="fa-solid fa-angle-down"></i>
    </a>
</section>

<!-- dogs grid desktop -->
<section class="grid-center padded md-hide">
{% for dog in all-dogs.dogs limit: 8 offset: 4%}

    <div class="col-3 center padded-1 margin-b-2">
        <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
        <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>
        <p>I am {{dog.age}} years old.</p>
    </div>
    
{% endfor %}

    <div>
      <a href="/all-dogs.html" class="button">See all dogs</a>
    </div>
</section>

<!-- dogs grid medium -->
<section class="grid-center padded md-show">
  {% for dog in all-dogs.dogs limit: 6 offset: 3 %}
  
      <div class="col-4 center padded-1 margin-b-2">
          <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
          <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>
          <p>I am {{dog.age}} years old.</p>
      </div>
      
  {% endfor %}
  
      <div>
        <a href="/all-dogs.html" class="button">See all dogs</a>
      </div>
  </section>


<!-- adoption info -->
<section class="grid-middle-spaceBetween padded bg-light" id="adoption-process">
  <!-- how to adopt -->
    <div class="col-7_sm-12-middle padded">
      <h3>How to adopt</h3>
      <p class="editable">If you see a dog that you're interested in adopting, you'll need to follow these simple steps:</p>
      <ol class="padded editable">
        <li class="padded-l-1">Fill in the <a href="/download/Thai-Street-Paws-Adoption-Application.pdf" download>application form</a> and return.</li>
        <li class="padded-l-1">If your application passes the first round, you will be scheduled for a Skype / FaceTime interview.</li>
        <li class="padded-l-1">If your application is approved, we will begin looking for a flight angel from Bangkok to an airport near you.</li>
        <li class="padded-l-1">Once the flight angel is secured, travel necessities will be bought and all paperwork completed<./li>
        <li class="padded-l-1">On their arrival, you will meet the flight angel and your dog at the airport.</li>
      </ol>
      <p class="editable">If you're interested in one of the dogs please send a message so we can start the process.</p>
      <a href="#" class="button">Reach out to us</a>
    </div>
    <div class="col-5 padded sm-hide">
      <div class="bg-image square" style="background-image: url('{{page.adopt-dog_image}}');"></div>
    </div>

    <!-- more info -->
    <div class="col-5 padded sm-hide">
      <div class="bg-image square" style="background-image: url('{{page.info-dog_image}}');"></div>
    </div>
    <div class="col-7_sm-12-middle padded">
      <h3 class="editable">Get more information about specific dogs</h3>
      <p class="editable">Unfortunately we do not have the time and resources to describe every single one of our 160+ dogs online. </p>
      <p class="editable">If you are interested in one of the pups or are looking for more information please don’t hesitate to reach out directly to us! We will provide you with all information you need to find your new best friend.</p>
      <a href="/contact.html" class="button">I need more information</a>
    </div>
    
  
    <!-- whats the cost -->
    <div class="col-7_sm-12-middle padded">
        <h3 class="editable">What's the cost?</h3>
        <p class="editable">There is no adoption fee when you adopt a Thai Street Paws dog but you will need to pay for the dog's travel costs.
        <p class="margin-b-0 editable">These include the following:</p>
          
        <ul class="padded editable">
          <li class="padded-l-1">IATA approved travel crate</li>
          <li class="padded-l-1"> Microchip</li>
          <li class="padded-l-1">Paperwork fees for export and import of dog</li>
          <li class="padded-l-1">Flight from Hat Yai to Bangkok</li>
          <li class="padded-l-1">Flight from Bangkok to your nearest airport (this cost is significantly reduced when the dog flies with a flight angel)</li>
          <li class="padded-l-1">Lodging for the dog and Tamara in Bangkok</li>
        </ul>
          <p class="editable">Costs vary relative to the size of the dog, as well as the airline. Typically, costs range between US$350 to US$500.</p>
    </div>
    <div class="col-5 padded sm-hide">
      <div class="bg-image square" style="background-image: url('{{page.cost-dog_image}}');"></div>
    </div>
</section>