---
layout: default
title: Our Dogs
dogs:
   -
      name: Chilli
      rescued-in: 2020
      dog_image: /images/dogs/dog1.webp
      female: false
      male: true
   -
      name: Dee
      rescued-in:
      dog_image: /images/dogs/dog2.webp
      female: false
      male: false
   -
      name: Myla
      rescued-in:
      dog_image: /images/dogs/dog3.webp
      female: true
      male: false
   -
      name: Dixie
      rescued-in:
      dog_image: /images/dogs/dog4.webp
      female: true
      male: false
   -
      name: Casper
      rescued-in:
      dog_image: /images/dogs/dog5.webp
      female: false
      male: true
   -
      name: Rein
      rescued-in:
      dog_image: /images/dogs/dog6.webp
      female: false
      male: false
   -
      name: Fraser
      rescued-in:
      dog_image: /images/dogs/dog7.webp
      female: false
      male: true
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog8.webp
      female: true
      male: false
   -
      name: Bali
      rescued-in:
      dog_image: /images/dogs/dog9.webp
      female: true
      male: false
   -
      name: Sam
      rescued-in:
      dog_image: /images/dogs/dog10.webp
      female: false
      male: true
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog11.webp
      female: false
      male: false
   -
      name: Ludo
      rescued-in:
      dog_image: /images/dogs/dog12.webp
      female: false
      male: false
   -
      name: Archie
      rescued-in:
      dog_image: /images/dogs/dog13.webp
      female: false
      male: true
   -
      name: Lucy
      rescued-in:
      dog_image: /images/dogs/dog14.webp
      female: true
      male: false
   -
      name: Ralph
      rescued-in:
      dog_image: /images/dogs/dog16.webp
      female: false
      male: true
   -
      name: Ashleigh
      rescued-in:
      dog_image: /images/dogs/dog17.webp
      female: true
      male: false
   -
      name: Harvey
      rescued-in:
      dog_image: /images/dogs/dog18.webp
      female: false
      male: true
   -
      name: Maya
      rescued-in:
      dog_image: /images/dogs/dog19.webp
      female: true
      male: false
   -
      name: Friday
      rescued-in:
      dog_image: /images/dogs/dog20.webp
      female: false
      male: true
   -
      name: Theo
      rescued-in:
      dog_image: /images/dogs/dog21.webp
      female: false
      male: true
   -
      name: Izzy
      rescued-in:
      dog_image: /images/dogs/dog22.webp
      female: true
      male: false
   -
      name: Red
      rescued-in:
      dog_image: /images/dogs/dog23.webp
      female: true
      male: false
   -
      name: Pax
      rescued-in:
      dog_image: /images/dogs/dog24.webp
      female: false
      male: true
   -
      name: Tiernan
      rescued-in:
      dog_image: /images/dogs/dog25.webp
      female: false
      male: true
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog26.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog27.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog28.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog29.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog30.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog31.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog32.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog33.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog34.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog35.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog36.webp
      female: true
      male: false
   -
      name: Ruby
      rescued-in:
      dog_image: /images/dogs/dog37.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog38.webp
      female: true
      male: false
   -
      name: Nadia
      rescued-in:
      dog_image: /images/dogs/dog39.webp
      female: true
      male: false
   -
      name: Saffron
      rescued-in:
      dog_image: /images/dogs/dog40.webp
      female: true
      male: false
   -
      name: Boo
      rescued-in: '1'
      dog_image: /images/dogs/dog41.webp
      female: false
      male: true
   -
      name: Joey
      rescued-in:
      dog_image: /images/dogs/dog42.webp
      female: false
      male: true
   -
      name: Yuki
      rescued-in:
      dog_image: /images/dogs/dog43.webp
      female: false
      male: true
   -
      name: Diesal
      rescued-in:
      dog_image: /images/dogs/dog44.webp
      female: false
      male: true
   -
      name: Bruce
      rescued-in:
      dog_image: /images/dogs/dog46.webp
      female: false
      male: true
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog47.webp
      female: true
      male: false
   -
      name: Siren
      rescued-in:
      dog_image: /images/dogs/dog48.webp
      female: true
      male: false
   -
      name: Nom Sod
      rescued-in:
      dog_image: /images/dogs/dog49.webp
      female: false
      male: true
   -
      name: Laura
      rescued-in:
      dog_image: /images/dogs/dog50.webp
      female: true
      male: false
   -
      name: Girl
      rescued-in:
      dog_image: /images/dogs/dog51.webp
      female: true
      male: false
   -
      name: Billie
      rescued-in:
      dog_image: /images/dogs/dog52.webp
      female: true
      male: false
   -
      name: Valentine
      rescued-in:
      dog_image: /images/dogs/dog53.webp
      female: false
      male: true
   -
      name: Beatrice
      rescued-in:
      dog_image: /images/dogs/dog54.webp
      female: true
      male: false
   -
      name: Goldie
      rescued-in:
      dog_image: /images/dogs/dog55.webp
      female: true
      male: false
   -
      name: Amy
      rescued-in:
      dog_image: /images/dogs/dog56.webp
      female: true
      male: false
   -
      name: Fred
      rescued-in:
      dog_image: /images/dogs/dog57.webp
      female: false
      male: true
   -
      name: Fern
      rescued-in:
      dog_image: /images/dogs/dog58.webp
      female: true
      male: false
   -
      name: Khalua
      rescued-in:
      dog_image: /images/dogs/dog59.webp
      female: false
      male: true
   -
      name: Isabella
      rescued-in:
      dog_image: /images/dogs/dog61.webp
      female: true
      male: false
   -
      name: Shay
      rescued-in:
      dog_image: /images/dogs/dog62.webp
      female: false
      male: true
   -
      name: Harley
      rescued-in:
      dog_image: /images/dogs/dog63.webp
      female: false
      male: false
   -
      name: Charlize
      rescued-in:
      dog_image: /images/dogs/dog64.webp
      female: true
      male: false
   -
      name: Carter
      rescued-in:
      dog_image: /images/dogs/dog65.webp
      female: false
      male: true
   -
      name: Amalou
      rescued-in:
      dog_image: /images/dogs/dog66.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog67.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog68.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog69.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog70.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog71.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog72.webp
      female: true
      male: false
   -
      name: Grace
      rescued-in:
      dog_image: /images/dogs/dog73.webp
      female: true
      male: false
   -
      name: Frankie
      rescued-in:
      dog_image: /images/dogs/dog74.webp
      female: false
      male: true
   -
      name: Saylor
      rescued-in:
      dog_image: /images/dogs/dog76.webp
      female: true
      male: false
   -
      name: Beau
      rescued-in:
      dog_image: /images/dogs/dog77.webp
      female: false
      male: true
   -
      name: Nam Kaeng
      rescued-in:
      dog_image: /images/dogs/dog78.webp
      female: false
      male: false
   -
      name: Happy
      rescued-in: '1'
      dog_image: /images/dogs/dog79.webp
      female: false
      male: true
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog80.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog81.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog82.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog83.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog84.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog85.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog86.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog87.webp
      female: true
      male: false
   -
      name: Penny
      rescued-in:
      dog_image: /images/dogs/dog88.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog89.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog90.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog91.webp
      female: true
      male: false
   -
      name: Tom
      rescued-in:
      dog_image: /images/dogs/dog92.webp
      female: false
      male: true
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog93.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog94.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog95.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog96.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog97.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog98.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog99.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog101.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog102.webp
      female: true
      male: false
   -
      name: Bandit
      rescued-in:
      dog_image: /images/dogs/dog104.webp
      female: false
      male: true
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog105.webp
      female: true
      male: false
   -
      name: melon
      rescued-in:
      dog_image: /images/dogs/dog106.webp
      female: false
      male: true
   -
      name: Iris
      rescued-in:
      dog_image: /images/dogs/dog107.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog109.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog110.webp
      female: true
      male: false
   -
      name: name
      rescued-in:
      dog_image: /images/dogs/dog111.webp
      female: true
      male: false
   -
      name: Dixie
      rescued-in:
      dog_image: /images/dogs/dog112.webp
      female: true
      male: false
   -
      name: ''
      rescued-in:
      dog_image: ''
      female: true
      male: false
seo:
   title:
   description: Meet all of our dogs who are waiting for a loving forever home.
   social_image: /images/logo.png
   twitter_card:
   keywords:
   hide-from-google: false
---
<!-- intro banner -->
<section class="grid-middle bg-featured vh30">
    <h2 class="col-12 center">Meet the pups</h2>
</section>

<!-- dogs grid all desktop -->
<section class="grid-center padded md-hide sm-hide">
    {% for dog in page.dogs %}
    
        <div class="col-3 center padded-1 margin-b-2">
            <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
            <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>
            
            {% if dog.rescued-in %}
            <p class="margin-b-0">I was rescued in {{dog.rescued-in}}.</p>
            {% endif %}

        {% if dog.male == true %}
               <p>I am male.</p>
            {% endif %}
            {% if dog.female == true %}
               <p>I am female.</p>
            {% endif %}
        </div>
    {% endfor %}
</section>

<!-- dogs grid all medium -->
<section class="grid-center padded md-show">
   {% for dog in page.dogs %}
   
       <div class="col-4 center padded-1 margin-b-2">
           <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
           <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>

           {% if dog.rescued-in %}
                <p class="margin-b-0">I was rescued in {{dog.rescued-in}}.</p>
            {% endif %}

           {% if dog.male == true %}
              <p>I am male.</p>
           {% endif %}
           {% if dog.female == true %}
              <p>I am female.</p>
           {% endif %}
       </div>
   {% endfor %}
</section>

<!-- dogs grid all sm -->
<section class="grid-center padded sm-show">
   {% for dog in page.dogs %}
   
       <div class="col-12 center padded-1 margin-b-2">
           <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
           <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>

           {% if dog.rescued-in %}
                <p class="margin-b-0">I was rescued in {{dog.rescued-in}}.</p>
            {% endif %}

           {% if dog.male == true %}
              <p>I am male.</p>
           {% endif %}
           {% if dog.female == true %}
              <p>I am female.</p>
           {% endif %}
       </div>
   {% endfor %}
</section>