---
layout: default
dogs:
   -
      name: Lanta
      age: 4
      dog_image: /images/TSP-3.jpg
      male: true
      female: false
   -
      name: Martha
      age: 2
      dog_image: /images/TSP-2.jpg
      female: true
      male: false
   -
      name: Isabella
      age: 7
      dog_image: /images/TSP-4.jpg
      female: true
      male: false
   -
      name: Jaguar
      age: 3
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Freya
      age: 4
      dog_image: /images/TSP-3.jpg
      female: true
      male: false
   -
      name: Martha
      age: 2
      dog_image: /images/TSP-2.jpg
      female: true
      male: false
   -
      name: Isabella
      age: 7
      dog_image: /images/TSP-4.jpg
      female: true
      male: false
   -
      name: Jaguar
      age: 3
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Lanta
      age: 4
      dog_image: /images/TSP-3.jpg
      male: true
      female: false
   -
      name: Martha
      age: 2
      dog_image: /images/TSP-2.jpg
      female: true
      male: false
   -
      name: Isabella
      age: 7
      dog_image: /images/TSP-4.jpg
      female: true
      male: false
   -
      name: Jaguar
      age: 3
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Lanta
      age: 4
      dog_image: /images/TSP-3.jpg
      male: true
      female: false
   -
      name: Martha
      age: 2
      dog_image: /images/TSP-2.jpg
      female: true
      male: false
   -
      name: Isabella
      age: 7
      dog_image: /images/TSP-4.jpg
      female: true
      male: false
   -
      name: Jaguar
      age: 3
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Martha
      age: 2
      dog_image: /images/TSP-2.jpg
      female: true
      male: false
   -
      name: Isabella
      age: 7
      dog_image: /images/TSP-4.jpg
      female: true
      male: false
   -
      name: Jaguar
      age: 3
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Zorro
      age: 5
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Tia
      age: 1
      dog_image: /uploads/img-6161.jpg
      female: true
      male: false
   -
      name: Sweetheart
      age: 0.5
      dog_image: /uploads/img-6139.jpg
      female: true
      male: false
   -
      name: Yak
      age: 8
      dog_image: /uploads/img-5442.jpg
      male: true
      female: false
   -
      name: Lanta
      age: 4
      dog_image: /uploads/img-5378.jpg
      male: true
      female: false
   -
      name: Fraser
      age: 4
      dog_image: /uploads/img-5877.jpg
      male: true
      female: false
   -
      name: Fred
      age: 2
      dog_image: /uploads/img-5829.jpg
      male: true
      female: false
   -
      name: Red
      age: 4
      dog_image: /uploads/img-5528.jpg
      female: true
      male: false
   -
      name: Henry
      age: 9
      dog_image: /uploads/img-6343.jpg
      female: false
      male: true
---
<!-- intro banner -->
<section class="grid-middle bg-featured vh30">
    <h2 class="col-12 center">Find your new best friend here</h2>
</section>

<!-- dogs grid all -->
<section class="grid-center padded">
    {% for dog in page.dogs %}
    
        <div class="col-3 center padded-1 margin-b-2">
            <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
            <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>
            <p class="margin-b-0">I am {{dog.age}} years old.</p>
            {% if dog.male == true %}
               <p>I am male.</p>
            {% endif %}
            {% if dog.female == true %}
               <p>I am female.</p>
            {% endif %}
        </div>
    {% endfor %}
</section>