---
layout: default
title: Our Dogs
dogs:
   -
      name: Lanta
      age: 4
      dog_image: /images/TSP-3.jpg
      male: true
      female: false
   -
      name: Martha
      age: 2
      dog_image: /images/TSP-2.jpg
      female: true
      male: false
   -
      name: Isabella
      age: 7
      dog_image: /images/TSP-4.jpg
      female: true
      male: false
   -
      name: Jaguar
      age: 3
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Freya
      age: 4
      dog_image: /images/TSP-3.jpg
      female: true
      male: false
   -
      name: Martha
      age: 2
      dog_image: /images/TSP-2.jpg
      female: true
      male: false
   -
      name: Isabella
      age: 7
      dog_image: /images/TSP-4.jpg
      female: true
      male: false
   -
      name: Jaguar
      age: 3
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Lanta
      age: 4
      dog_image: /images/TSP-3.jpg
      male: true
      female: false
   -
      name: Martha
      age: 2
      dog_image: /images/TSP-2.jpg
      female: true
      male: false
   -
      name: Isabella
      age: 7
      dog_image: /images/TSP-4.jpg
      female: true
      male: false
   -
      name: Jaguar
      age: 3
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Lanta
      age: 4
      dog_image: /images/TSP-3.jpg
      male: true
      female: false
   -
      name: Martha
      age: 2
      dog_image: /images/TSP-2.jpg
      female: true
      male: false
   -
      name: Isabella
      age: 7
      dog_image: /images/TSP-4.jpg
      female: true
      male: false
   -
      name: Jaguar
      age: 3
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Martha
      age: 2
      dog_image: /images/TSP-2.jpg
      female: true
      male: false
   -
      name: Isabella
      age: 7
      dog_image: /images/TSP-4.jpg
      female: true
      male: false
   -
      name: Jaguar
      age: 3
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Zorro
      age: 5
      dog_image: /images/TSP-1.jpg
      male: true
      female: false
   -
      name: Tia
      age: 1
      dog_image: /uploads/img-6161.jpg
      female: true
      male: false
   -
      name: Sweetheart
      age: 0.5
      dog_image: /uploads/img-6139.jpg
      female: true
      male: false
   -
      name: Yak
      age: 8
      dog_image: /uploads/img-5442.jpg
      male: true
      female: false
   -
      name: Lanta
      age: 4
      dog_image: /uploads/img-5378.jpg
      male: true
      female: false
   -
      name: Fraser
      age: 4
      dog_image: /uploads/img-5877.jpg
      male: true
      female: false
   -
      name: Fred
      age: 2
      dog_image: /uploads/img-5829.jpg
      male: true
      female: false
   -
      name: Red
      age: 4
      dog_image: /uploads/img-5528.jpg
      female: true
      male: false
   -
      name: Henry
      age: 9
      dog_image: /uploads/img-6343.jpg
      female: false
      male: true
   -
      name: Chilli
      age:
      dog_image: /images/dogs/dog1.jpg
      female: false
      male: true
   -
      name: Dee
      age:
      dog_image: /images/dogs/dog2.jpg
      female: false
      male: false
   -
      name: Myla
      age:
      dog_image: /images/dogs/dog3.jpg
      female: true
      male: false
   -
      name: Dixie
      age:
      dog_image: /images/dogs/dog4.jpg
      female: true
      male: false
   -
      name: Casper
      age:
      dog_image: /images/dogs/dog5.jpg
      female: false
      male: true
   -
      name: Rein
      age:
      dog_image: /images/dogs/dog6.jpg
      female: false
      male: false
   -
      name: Fraser
      age:
      dog_image: /images/dogs/dog7.jpg
      female: false
      male: true
   -
      name: name
      age:
      dog_image: /images/dogs/dog8.jpg
      female: true
      male: false
   -
      name: Bali
      age:
      dog_image: /images/dogs/dog9.jpg
      female: true
      male: false
   -
      name: Sam
      age:
      dog_image: /images/dogs/dog10.jpg
      female: false
      male: true
   -
      name: name
      age:
      dog_image: /images/dogs/dog11.jpg
      female: false
      male: false
   -
      name: Ludo
      age:
      dog_image: /images/dogs/dog12.jpg
      female: false
      male: false
   -
      name: Archie
      age:
      dog_image: /images/dogs/dog13.jpg
      female: false
      male: true
   -
      name: Lucy
      age:
      dog_image: /images/dogs/dog14.jpg
      female: true
      male: false
   -
      name: Ralph
      age:
      dog_image: /images/dogs/dog16.jpg
      female: false
      male: true
   -
      name: Ashleigh
      age:
      dog_image: /images/dogs/dog17.jpg
      female: true
      male: false
   -
      name: Harvey
      age:
      dog_image: /images/dogs/dog18.jpg
      female: false
      male: true
   -
      name: Maya
      age:
      dog_image: /images/dogs/dog19.jpg
      female: true
      male: false
   -
      name: Friday
      age:
      dog_image: /images/dogs/dog20.jpg
      female: false
      male: true
   -
      name: Theo
      age:
      dog_image: /images/dogs/dog21.jpg
      female: false
      male: true
   -
      name: Izzy
      age:
      dog_image: /images/dogs/dog22.jpg
      female: true
      male: false
   -
      name: Red
      age:
      dog_image: /images/dogs/dog23.jpg
      female: true
      male: false
   -
      name: Pax
      age:
      dog_image: /images/dogs/dog24.jpg
      female: false
      male: true
   -
      name: name
      age:
      dog_image: /images/dogs/dog25.jpg
      female: false
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog26.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog27.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog28.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog29.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog30.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog31.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog32.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog33.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog34.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog35.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog36.jpg
      female: true
      male: false
   -
      name: Ruby
      age:
      dog_image: /images/dogs/dog37.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog38.jpg
      female: true
      male: false
   -
      name: Nadia
      age:
      dog_image: /images/dogs/dog39.jpg
      female: true
      male: false
   -
      name: Saffron
      age:
      dog_image: /images/dogs/dog40.jpg
      female: true
      male: false
   -
      name: Boo
      age: '1'
      dog_image: /images/dogs/dog41.jpg
      female: false
      male: true
   -
      name: Joey
      age:
      dog_image: /images/dogs/dog42.jpg
      female: false
      male: true
   -
      name: Yuki
      age:
      dog_image: /images/dogs/dog43.jpg
      female: false
      male: true
   -
      name: Diesal
      age:
      dog_image: /images/dogs/dog44.jpg
      female: false
      male: true
   -
      name: Bruce
      age:
      dog_image: /images/dogs/dog46.jpg
      female: false
      male: true
   -
      name: name
      age:
      dog_image: /images/dogs/dog47.jpg
      female: true
      male: false
   -
      name: Siren
      age:
      dog_image: /images/dogs/dog48.jpg
      female: true
      male: false
   -
      name: Nom Sod
      age:
      dog_image: /images/dogs/dog49.jpg
      female: false
      male: true
   -
      name: Laura
      age:
      dog_image: /images/dogs/dog50.jpg
      female: true
      male: false
   -
      name: Girl
      age:
      dog_image: /images/dogs/dog51.jpg
      female: true
      male: false
   -
      name: Billie
      age:
      dog_image: /images/dogs/dog52.jpg
      female: true
      male: false
   -
      name: Valentine
      age:
      dog_image: /images/dogs/dog53.jpg
      female: false
      male: true
   -
      name: Beatrice
      age:
      dog_image: /images/dogs/dog54.jpg
      female: true
      male: false
   -
      name: Goldie
      age:
      dog_image: /images/dogs/dog55.jpg
      female: true
      male: false
   -
      name: Amy
      age:
      dog_image: /images/dogs/dog56.jpg
      female: true
      male: false
   -
      name: Fred
      age:
      dog_image: /images/dogs/dog57.jpg
      female: false
      male: true
   -
      name: Fern
      age:
      dog_image: /images/dogs/dog58.jpg
      female: true
      male: false
   -
      name: Khalua
      age:
      dog_image: /images/dogs/dog59.jpg
      female: false
      male: true
   -
      name: Isabella
      age:
      dog_image: /images/dogs/dog61.jpg
      female: true
      male: false
   -
      name: Shay
      age:
      dog_image: /images/dogs/dog62.jpg
      female: false
      male: true
   -
      name: Harley
      age:
      dog_image: /images/dogs/dog63.jpg
      female: false
      male: false
   -
      name: Charlize
      age:
      dog_image: /images/dogs/dog64.jpg
      female: true
      male: false
   -
      name: Carter
      age:
      dog_image: /images/dogs/dog65.jpg
      female: false
      male: true
   -
      name: Amalou
      age:
      dog_image: /images/dogs/dog66.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog67.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog68.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog69.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog70.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog71.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog72.jpg
      female: true
      male: false
   -
      name: Grace
      age:
      dog_image: /images/dogs/dog73.jpg
      female: true
      male: false
   -
      name: Frankie
      age:
      dog_image: /images/dogs/dog74.jpg
      female: false
      male: true
   -
      name: Saylor
      age:
      dog_image: /images/dogs/dog76.jpg
      female: true
      male: false
   -
      name: Beau
      age:
      dog_image: /images/dogs/dog77.jpg
      female: false
      male: true
   -
      name: Nam Kaeng
      age:
      dog_image: /images/dogs/dog78.jpg
      female: false
      male: false
   -
      name: Happy
      age: '1'
      dog_image: /images/dogs/dog79.jpg
      female: false
      male: true
   -
      name: name
      age:
      dog_image: /images/dogs/dog80.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog81.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog82.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog83.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog84.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog85.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog86.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog87.jpg
      female: true
      male: false
   -
      name: Penny
      age:
      dog_image: /images/dogs/dog88.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog89.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog90.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog91.jpg
      female: true
      male: false
   -
      name: Tom
      age:
      dog_image: /images/dogs/dog92.jpg
      female: false
      male: true
   -
      name: name
      age:
      dog_image: /images/dogs/dog93.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog94.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog95.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog96.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog97.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog98.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog99.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog101.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog102.jpg
      female: true
      male: false
   -
      name: Bandit
      age:
      dog_image: /images/dogs/dog104.jpg
      female: false
      male: true
   -
      name: name
      age:
      dog_image: /images/dogs/dog105.jpg
      female: true
      male: false
   -
      name: melon
      age:
      dog_image: /images/dogs/dog106.jpg
      female: false
      male: true
   -
      name: Iris
      age:
      dog_image: /images/dogs/dog107.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog109.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog110.jpg
      female: true
      male: false
   -
      name: name
      age:
      dog_image: /images/dogs/dog111.jpg
      female: true
      male: false
   -
      name: Dixie
      age:
      dog_image: /images/dogs/dog112.jpg
      female: true
      male: false
---
<!-- intro banner -->
<section class="grid-middle bg-featured vh30">
    <h2 class="col-12 center">Meet the pups</h2>
</section>

<!-- dogs grid all desktop -->
<section class="grid-center padded md-hide">
    {% for dog in page.dogs %}
    
        <div class="col-3 center padded-1 margin-b-2">
            <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
            <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>
            <p class="margin-b-0">I am {{dog.age}} years old.</p>
            {% if dog.male == true %}
               <p>I am male.</p>
            {% endif %}
            {% if dog.female == true %}
               <p>I am female.</p>
            {% endif %}
        </div>
    {% endfor %}
</section>

<!-- dogs grid all medium -->
<section class="grid-center padded md-show">
   {% for dog in page.dogs %}
   
       <div class="col-4 center padded-1 margin-b-2">
           <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
           <h3 class="margin-t-1 margin-b-0">{{dog.name}}</h3>
           <p class="margin-b-0">I am {{dog.age}} years old.</p>
           {% if dog.male == true %}
              <p>I am male.</p>
           {% endif %}
           {% if dog.female == true %}
              <p>I am female.</p>
           {% endif %}
       </div>
   {% endfor %}
</section>