---
layout: default
title: Homepage
donation-banner_image: /images/TSP-3.jpg
paypal_url: >-
  https://www.paypal.com/donate?token=EJdXoeekcRA-8hFmHZmjYSKSEWoo3iDU9543nv621PY5aq2tDItEXv39_Ih89UuCYq6z_-32MGeEtbJU
dog-sanctuary_image: /images/TSP-6.jpg
---
{% include donation-banner.html %}

<!-- small actions big impact -->
<section class="grid padded">
    <h2 class="col-12 center">Small actions, big impact.</h2>
    <div class="col-6 padded">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae exercitationem voluptates, ad eaque rem perspiciatis quod voluptatibus sequi, doloribus ratione soluta porro. Explicabo dignissimos esse voluptate exercitationem cumque temporibus necessitatibus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo omnis sunt ut. Quidem consequuntur fuga non quod suscipit numquam nesciunt deleniti in, rem eligendi est voluptatibus? Eius consectetur aperiam voluptates.</p>
     </div>
    <div class="col-6 padded-sm">
        <div class="bg-image landscape" style="background-image: url('{{page.dog-sanctuary_image}}')"></div>
    </div>
    
    <!-- <div class="col-6">
        #donation box link embed
    </div> -->
</section>

{% include adoption-banner.html %}