<!-- adoption banner -->
<section class="padded-lr padded-tb center bg-featured">
    <h2 class="center">Meet the pups</h2>

    <!-- slick carousel -->
    <div class="slick-carousel">
        <div class="slider-item bg-image" style="background-image: url('/images/TSP-1.jpg');"> </div>
        <div class="slider-item bg-image"> </div>
        <div class="slider-item bg-image"> </div>
        <div class="slider-item bg-image"> </div>
        <div class="slider-item bg-image"> </div>
        <div class="slider-item bg-image"> </div>
        <div class="slider-item bg-image"> </div>
        <div class="slider-item bg-image"> </div>
        <div class="slider-item bg-image"> </div>
    </div>

    <a href="/adopt.html" class="button">Adopt a dog</a>
</section>