<!-- adoption banner -->
<section class="padded-lr padded-tb center bg-featured">
    <h2 class="center">Meet the pups</h2>
    
    <!-- slick carousel with loop (front matter from adopt page) -->
    <div class="slick-carousel">
        {% assign adoptable-dogs = site.pages | where: 'path', 'adopt.html' | first %}
        {% for dog in adoptable-dogs.dogs %}
        <div class="slider-item">
            <div class="bg-image portrait" style="background-image: url('{{dog._image}}');"></div>
        </div>
    
        {% endfor %}
    </div>
    <a href="/adopt.html" class="button">Adopt a dog</a>
</section>