<!-- adoption banner -->
<section class="padded-lr padded-tb center bg-featured">
    <h2 class="center">Meet the pups</h2>
    
    <!-- slick carousel with loop (front matter from adopt page) -->
    <div class="slick-carousel responsive">
        {% assign all-dogs = site.pages | where: 'path', 'all-dogs.html' | shuffle %}
        {% for dog in all-dogs.dogs | slice: 0, 15 %}
        <div class="slider-item">
            <div class="bg-image portrait" style="background-image: url('{{dog.dog_image}}');"></div>
        </div>
    
        {% endfor %}
    </div>
    <a href="/adopt.html" class="button">Adopt a dog</a>
</section>