<title>{{page.title}}</title>

<!------------ Technical Metadata  --------------------------------->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<!------------ SEO Metadata  --------------------------------->
<title> {{page.seo.title | default: site.data.site-settings.seo.title }} </title> 
<meta name="description" content="{{page.seo.description | default: site.data.site-settings.seo.description }}">
<meta name="keywords" content="{{page.seo.keywords | default: site.data.site-settings.seo.keywords }}">

{% if page.seo.hide-from-google == true %}
    <meta name="robots" content="noindex, nofollow">
{% else %}
    <meta name="robots" content="index, follow">
{% endif %}

<!------------  Social media sharing META Tags ------------>
<meta property="og:title" content="{{ page.title | default: site.data.site-settings.seo.title }}">
<meta property="og:description" content="{{ page.seo.description | default: site.data.site-settings.seo.description }}"> 
<meta property="og:image" content="{{ page.seo.social_image | default: site.data.site-settings.seo.social_image }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:card" content="{{ page.seo.twitter_card | default: site.data.site-settings.seo.twitter_card }}">
<meta name="og:site_name" content="{{ site.data.site-settings.seo.site_name }}">
<link rel="icon" type="image/png" href="{{ site.data.site-settings.seo.favicon_image }}">

<!------------ Pinterest Meta Tags ------------>
<meta property="article:author" content="{{ page.author | default: site.seo.author }}" />

<!------------ External Stylesheets  ------------>
<!-- Gridlex -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

<!-- Viewport meta tag -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Google Fonts 'Lato', sans-serif; -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<!-- slick folder -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<!-- slick css -->
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

<!-- My own custom stylesheet -->
<link rel="stylesheet" href="/style.css">

