<footer class="grid-spaceBetween padded bg-dark light-text">
    <div class="col-5">
        <a href="/index.html">
            <h3>Thai Street Paws Rescue</h3>
        </a>
        <a href="/about.html">Our story</a>
        <a href="/all-dogs.html">Our dogs</a>
        <a href="/help.html">How you can help</a>
    </div>
    <div class="col-4">
        <h3>How you can help</h3>
        <a href="/adopt.html">Adopt</a>
        <a href="#">Donate</a>
        <a href="#">Volunteer</a>
    </div>
    <div class="col-3 right">
        <h3>Let's connect</h3>
        <a href="mailto:thaistreetpawsdogrescue@gmail.com" class="inline-block padded-05 margin-r-03">
            <i class="fa-regular fa-envelope"></i></a>
        <a href="https://www.instagram.com/thaistreetpaws_dogrescue/" class="inline-block padded-05 margin-r-03">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/thaistreetpawsrescue/" class="inline-block padded-05">
            <i class="fa-brands fa-square-facebook"></i>
        </a>
    </div>
    <div class="col-12 copyright center margin-t-2">© 2024</div>
</footer>